:root {
  background: #000;
}

* {
  box-sizing: border-box;
}

html,
body,
#player {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  background: #000;
}

#player {
  background: #000;
}

ruffle-player {
  width: 100%;
  height: 100%;
}
